<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <h3>404</h3>
                    <p>Page not found</p>
                    <router-link to="/home"> Go To Dashboard </router-link>
                </div>
            </div>
        </div>
    </div>
</template>