<template>
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Categories</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
          <router-link to="/home">Dashboard</router-link>
        </li>
        <li class="breadcrumb-item active">Categories</li>
      </ol>
      <div class="row">
        <div class="col-xl-12">
          <div class="card mb-4">
            <div class="card-header d-flex">
              <span>
                <i class="fas fa-chart-area mr-1"></i>
                Categories Management
              </span>
              <button class="btn btn-primary btn-sm ml-auto" v-on:click="showNewCategoryModal"><span class="fa fa-plus"></span> Create New</button>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Image</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(category, index) in categories" :key="index">
                    <td>{{ index+1 }}</td>
                    <td>{{category.name}}</td>
                    <td>
                      <img :src="`${$store.state.serverPath}/storage/categories_image/${category.image}`" :alt="category.name" class="table-image"/>
                    </td>
                    <td>
                      <button class="btn btn-primary btn-sm" v-on:click="editCategory(category)">
                        <span class="fa fa-edit"></span>
                      </button>
                      <button class="btn btn-danger btn-sm" v-on:click="deleteCategory(category)">
                        <span class="fa fa-trash" ></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center" v-show="moreExists">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="loadMore"><span class="fa fa-arrow-down"></span>Load More</button>
              </div>
            </div>
          </div>

          <b-modal ref="newCategoryModal" hide-footer title="Add New Category">
            <div class="d-block">
              <form v-on:submit.prevent="createCategory">
                <div class="form-group">
                  <label for="name">Enter Name</label>
                  <input type="text" v-model="categoryData.name" class="form-control" id="name" />
                  <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                </div>
                <div class="form-group">
                  <label for="image">Choose an image</label>
                  <div v-if="categoryData.image.name">
                    <img src="" ref="newCategoryImageDisplay" class="w-150px"/>
                  </div>
                  <input type="file" v-on:change="attachImage" ref="newCategoryImage" class="form-control" id="image" />
                  <div class="invalid-feedback" v-if="errors.image">{{ errors.image[0] }}</div>
                </div>

                <hr>
                <div class="text-right">
                  <button type="button" class="btn btn-default" v-on:click="hideNewCategoryModal">Cancle</button>
                  <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span>Save</button>
                </div>
                </form>
            </div>
          </b-modal>

          <b-modal ref="editCategoryModal" hide-footer title="Update Category">
            <div class="d-block">
              <form v-on:submit.prevent="updateCategory">
                <div class="form-group">
                  <label for="name">Enter Name</label>
                  <input type="text" v-model="editCategoryData.name" class="form-control" id="name" />
                  <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                </div>
                <div class="form-group">
                  <label for="image">Choose an image</label>
                  <div>
                    <img :src="`${$store.state.serverPath}/storage/categories_image/${editCategoryData.image}`" ref="editCategoryImageDisplay" class="w-150px"/>
                  </div>
                  <input type="file" v-on:change="editAttachImage" ref="editCategoryImage" class="form-control" id="image" />
                  <div class="invalid-feedback" v-if="errors.image">{{ errors.image[0] }}</div>
                </div>

                <hr>
                <div class="text-right">
                  <button type="button" class="btn btn-default" v-on:click="hideEditCategoryModal">Cancle</button>
                  <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span>Update</button>
                </div>
                </form>
            </div>
          </b-modal>

        </div>
      </div>
    </div>
  </main>
</template>

<script>
import * as categoryService from '../services/category_service';

export default {
   name: 'category',
  data() {
    return {
      categories: [],
      categoryData: {
        name: '',
        image: ''
      },
      moreExists: false,
      nextPage: 0,
      editCategoryData:{},
      errors : {}

    }
  },
  mounted() {
    this.loadCategories();
  },
  methods: {
    loadCategories: async function(){
      try{
        const response =await categoryService.loadCategories();
        // console.log(response);
        this.categories = response.data.data;
        console.log(this.categories);
        if(response.data.current_page < response.data.last_page) {
          this.moreExists = true;
          this.nextPage = response.data.current_page + 1;
        } else {
          this.moreExists = false;
        }
      } catch (error) {
        this.flashMessage.error({
            message: 'Some error accurred, Please rfresh!',
            time : 5000,
        });
        // console.log(error);
      }
    },

    attachImage() 
    {
      this.categoryData.image = this.$refs.newCategoryImage.files[0];
      let render = new FileReader();
      render.addEventListener('load', function(){
        this.$refs.newCategoryImageDisplay.src = render.result;
      }.bind(this), false);

      render.readAsDataURL(this.categoryData.image);
    },

    hideNewCategoryModal()
    {
      this.$refs.newCategoryModal.hide();
    },

    showNewCategoryModal()
    {
      this.$refs.newCategoryModal.show();
    },
    //menambahkan / membuat kategori baru
    createCategory: async function(){
      let formData = new FormData();
      formData.append('name', this.categoryData.name);
      formData.append('image', this.categoryData.image);
      //try - menjalankan kondisi normal atau sukses dalam menambahkan category
      try{
        const response = await categoryService.createCategory(formData);
        
        //menampilkan secara realtime data yang baru di buat
        this.categories.unshift(response.data);
        
        //setelah data sukses di buat modal akan automatis hide
        this.hideNewCategoryModal();
        
        //menampilkan flash message data telah sukses
        this.flashMessage.success({
            message: 'Category stored successfully!',
            time : 5000,
        });

        //modal automatis clean
        this.categoryData = {
          name: '',
          image: ''
        };

      } catch (error) { // jika error maka akan menampilkan respon ini..
        // console.log(error.response.status);
        switch (error.response.status)
        {
          case 422: //error respon dari backend (dalam hal ini error kondisi negatif..)
              this.errors = error.response.data.errors;
              break;
          default: // terjadi error pada codingan atau jaringan 
              this.flashMessage.error({
                  message: 'Some error accurred, Please try again!',
                  time : 5000,
              });
              break;
        }
      }
  
    },
    
    deleteCategory: async function(category) {
      if(!window.confirm(`Are you sure you want to delete ${category.name}`)){
        return;
      }

      
      try {
        await categoryService.deleteCategory(category.id);

        this.flashMessage.success({
            message: 'Category delete successfully!',
            time : 5000,
        });

        this.categories = this.categories.filter(obj => {
          return obj.id != category.id;
        });

      } catch (error) {
          this.flashMessage.error({
              message: error.response.data.message,
              time : 5000,
          });
      }

    },

    hideEditCategoryModal(){
      this.$refs.editCategoryModal.hide();
    },
    showEditCategoryModal(){
      this.$refs.editCategoryModal.show();
    },
    editCategory(category){
      this.editCategoryData = {...category};
      this.showEditCategoryModal();
    },
    editAttachImage() 
    {
      this.editCategoryData.image = this.$refs.editCategoryImage.files[0];
      let render = new FileReader();
      render.addEventListener('load', function(){
        this.$refs.editCategoryImageDisplay.src = render.result;
      }.bind(this), false);

      render.readAsDataURL(this.editCategoryData.image);
    },
    updateCategory: async function() {
      try {
        const formData = new FormData();
        formData.append('name', this.editCategoryData.name);
        formData.append('image', this.editCategoryData.image);
        formData.append('_method', 'put');

        const response = await categoryService.updateCategory(this.editCategoryData.id, formData);
        this.categories.map(category => {
          if(category.id == response.data.id) {
            for (let key in  response.data) {
                category[key] = response.data[key];
            }
          }
        });

        this.hideEditCategoryModal();
        this.flashMessage.success({
            message: 'Category update successfully!',
            time : 5000,
        });

      } catch (error) {
         this.flashMessage.error({
              message: error.response.data.message,
              time : 5000,
          });
      }
    },
    loadMore: async function() {
      try{
        const response = await categoryService.loadMore(this.nextPage);
        // console.log(response);
         if(response.data.current_page < response.data.last_page) {
          this.moreExists = true;
          this.nextPage = response.data.current_page + 1;
        } else {
          this.moreExists = false;
        }

        response.data.data.forEach(data => {
          this.categories.push(data);
        });
      } catch (error) {
        // console.log(error);
         this.flashMessage.error({
            message: 'Category some error',
            time : 5000,
        });
      }
    }

  }
}

</script>